.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 10px;
}

.top {
    display: flex;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
    flex-direction: row;
}

.bottom {
    display: flex;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
}

.rightb {
    padding-right: 12px;
    min-width: 8em;
}

.leftb {
    flex: 1 1;
    margin-right: 8px;
}

.leftt{
    flex: 1 1;
    margin-right: 10px;
}

.rightt{
    padding-right: 12px;
    min-width: 2em;
}

.root:hover{
    cursor: pointer;
    .add{
        color:#40e200;
    }
    .rem{
        color:red;
    }
}