.container{
  min-height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
}
*{
  -ms-overflow-style: none;
} 
::-webkit-scrollbar {
  display: none;
}

.hi {
  display: flex;
  justify-content: center;
  align-items: center;
}